.homepage section[role=main] {
    -ms-grid-columns: 1fr 5fr;
    -ms-grid-rows: 1fr;
    display: -ms-grid;
}

.homepage .menu {
    margin: 20px;
    -ms-grid-column: 1;
}

.homepage .grid {
    -ms-grid-column: 2;
}

.homepage .menuitem {
    padding: 20px;
    width: 100%;
    background-color: darkblue;
}