
#contenthost {
    height: 100%;
    width: 100%;
}

.canvas {
    display: inline-block;
    transform-origin: 0 0;
    position: absolute;
}

.fragment {
    /* Define a grid with rows for a banner and a body */
    background: -ms-linear-gradient(top, #7d7e7d 0%,#2e2e2e 100%);
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 128px 1fr;
    display: -ms-grid;
    height: 100%;
    width: 100%;
}

    .fragment header[role=banner] {
        /* Define a grid with columns for the back button and page title. */
        -ms-grid-columns: 120px 1fr;
        -ms-grid-rows: 1fr;
        display: -ms-grid;
    }

        .fragment header[role=banner] .win-backbutton {
            -ms-grid-column: 1;
            margin-left: 39px;
            margin-top: 59px;
        }

        .fragment header[role=banner] .titlearea {
            -ms-grid-column: 2;
            margin-top: 37px;
        }

    .fragment section[role=main] {
        -ms-grid-row: 2;
        height: 100%;
        width: 100%;
    }
