.rulespage section[role=main] {
    -ms-grid-columns: 2fr 3fr;
    -ms-grid-rows: 1fr;
    display: -ms-grid;
}

.rulespage .rulessection {
    -ms-grid-column: 1;
    margin-left: 128px;
}
 
    .rulespage  .rulessection ul{
        margin: 20px 0px;
    }

    .rulespage  .rulessection li{
        font-size: 130%;
        margin: 10px 0px;
    }

   
.rulespage .trainingsection {
    -ms-grid-column: 2;
    margin-left: 50px;
    overflow: hidden;
    padding-right: 10px;
    padding-bottom: 10px;
    position: relative;
    z-index: 0;
}

.rulespage .buttons {
    margin-top: 10px;
    text-align: center;
}

.rulespage .seeallButton {
    padding: 7px 0;
    margin: 10px 0;
    width: 70%;
}

.rulespage .playButton {
    background-color: #666;
    width: 70%;
    padding: 10px 0;
    margin-bottom: 10px;
    font-size: 200%;
    font-weight: bold;
}

.rulespage #practice {
    margin-top: 20px;
    height: calc(100% - 60px);
    width: 100%;
}



#solvedFlyout {
    padding: 20px;
}

    #solvedFlyout button {
        margin: 10px;
    }