.homepage section[role=main] {
    -ms-grid-columns: 2fr 3fr;
    -ms-grid-rows: 1fr;
    display: -ms-grid;
}

.homepage .rulessection {
    -ms-grid-column: 1;
    margin-left: 128px;
}
 
    .homepage .rulessection ul{
        margin: 20px 0px;
    }

    .homepage .rulessection li{
        font-size: 130%;
        margin: 10px 0px;
    }

   
.homepage .trainingsection {
    display: -ms-grid;
    -ms-grid-rows: 50px 1fr 200px;
    -ms-grid-columns: 1fr;
    -ms-grid-column: 2;
    margin-left: 50px;
    overflow-y: auto;
    padding-right: 120px;
    position: relative;
    z-index: 0;
}

.trainingsection .training {
    -ms-grid-row: 1;
}

#practice {
    -ms-grid-row: 2;
}

.finished {
    -ms-grid-row: 3;
    margin: 5px 20px;
    text-align: right;
}

.seeallButton {
    margin: 10px 0px;
    width: 30%;
}

.playButton {
    color: #fff;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
    font-size: 200%;
    font-weight: bold;
}

#practice {
    margin-top: 10px;
    width: 100%;
}