.puzzlepage section[role=main] {
    text-align: center;
}

.puzzlepage #clock {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

#scalebox {
    width: 100%;
    height: 90%;
    position: relative;
    text-align: center;
}
