.homepage section[role=main] {
    -ms-grid-columns: 450px 1fr;
    -ms-grid-rows: 1fr;
    display: -ms-grid;
    width: 100%;
}

.homepage .menu {
    margin: 15px 40px 15px 128px;
    height: 100%;
    -ms-grid-column: 1;
}
    
    .homepage .menu div {
        font-size: 130%;
        padding: 15px 5px 15px 60px;
        background-size: 32px;
        background-repeat: no-repeat;
        background-position: 10px 15px;
    }

        .homepage .menu div.user {
            background-image: url("///images/icons/user_male.png");
        }
        .homepage .menu div.statistics {
            background-image: url("///images/icons/statistics.png");
        }
        .homepage .menu div.settings {
            background-image: url("///images/icons/settings.png");
        }
        .homepage .menu div.about {
            background-image: url("///images/icons/info.png");
        }


.homepage .grid {
    height: 100%;
    width: 100%;
    -ms-grid-column: 2;
}


.homepage .puzzletype {
    width: 300px;
    height: 200px;
    padding: 20px 20px 10px 20px;
}

    .homepage .puzzletype img {
        margin-left: 80px;
        width: 140px;
        height: 140px;
    }