<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://myreg.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-am2-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>myreg</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$myreg</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-TestAPI.WebRole-20130120152535.mdf;Initial Catalog=aspnet-TestAPI.WebRole-20130120152535;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-TestAPI.WebRole-20130120152535;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-TestAPI.WebRole-20130120152535.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="TestAPI.WebRole.Models.PuzzlesDbContext" Order="2" Enabled="False">
          <Destination Path="Data Source=eu-cdbr-azure-west-a.cloudapp.net;Initial Catalog=puzzlesDb;User ID=bfe6a1feb7930d;Password=9e7171de" Name="Database=puzzlesDb;Data Source=eu-cdbr-azure-west-a.cloudapp.net;User Id=bfe6a1feb7930d;Password=9e7171de" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TestAPI.WebRole.Models.PuzzlesDbContext, TestAPI.WebRole" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TestAPI.WebRole.Models.PuzzlesDbContext-Web.config Connection String">
      <ParameterValue>Database=puzzlesDb;Data Source=eu-cdbr-azure-west-a.cloudapp.net;User Id=bfe6a1feb7930d;Password=9e7171de</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="TestAPI.WebRole.Models.PuzzlesDbContext" />
  </ItemGroup>
</Project>