.puzzlepage section[role=main] {
    text-align: center;
}

.box {
    position: relative;
    margin: auto;
}

.box .car {
    position: absolute;
    background: #c17d11;
    border: #333 2px solid;
    border-radius: 25px;
}

.box .redcar{
    background-color: #cc0000 !important;
}


    .box table {
        border-spacing: 0;
        position: absolute;
        top: -10px;
        left: -10px;
        border-spacing: 0;
        border: 10px black solid;
        margin: 0px;
        padding: 0px;
    }

    .box tr {
        margin: 0;
        padding: 0;
    }

    /* cell style */
    div.cell {
        opacity: 0.05;
        background: #fff;
        width: 90px;
        height: 90px;
        padding: 0;
        margin: 4px;
    }

    tr:first-child td div.cell{
        margin-top: 0px;
    }

    tr:last-child td div.cell{
        margin-bottom: 0px;
    }

    td:first-child div.cell{
        margin-left: 0px;
    }

    td:last-child div.cell{
        margin-right: 0px;
    }

    /* borders */

    .exit-right td:last-child {
        border-right: 10px black solid;
    }

    .exit-left td:first-child {
        border-left: 10px black solid;   
    }

    .exit-up tr:first-child td{
        border-top: 10px black solid;   
    }

    .exit-down tr:last-child td{
        border-bottom: 10px black solid;   
    }

    td.exit {
        border-color: transparent !important; 
    }

    .exit-up table{
        border-top: none;
    }

    .exit-down table{
        border-bottom: none;
    }

    .exit-left table{
        border-left: none;
    }

    .exit-right table{
        border-right: none;
    }

    /* exit */
    
    div.exit {
        position: absolute;
        padding-left: 5px;    
        border-top: 10px black solid;
        border-bottom: 10px black solid;      
    }

    div.exit div.cell {
        width: 60px;
        margin: 0;
        background: url("///puzzles/RushHour/images/arrow.png") 100% 50% no-repeat;
        opacity: 1;
        background-size: 46px;
    }

    .exit-left div.exit{
        -ms-transform: rotate(180deg);
        -ms-transform-origin: 50% 50%;
    }

    .exit-up div.exit{
        -ms-transform: rotate(-90deg);
        -ms-transform-origin: 0 0;
    }

    .exit-down div.exit{
        -ms-transform: rotate(90deg);
        -ms-transform-origin: 0 0;   
    }
