.itemspage section[role=main] {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
}

/* This selector is used to prevent ui-dark/light.css from overwriting changes
   to .win-surface. */
.itemspage .itemslist .win-horizontal.win-viewport .win-surface {
    margin-bottom: 60px;
    margin-left: 115px;
    margin-right: 115px;
    margin-top: 155px;
}

.itemspage .itemslist {
    height: 100%;
}

    .itemspage .itemslist .puzzle {
        display: -ms-grid;
        -ms-grid-columns: 2;
        -ms-grid-rows: 1;
        width: 200px;
    }

        .itemspage .itemslist .puzzle .stateg {
            width: 40px;
            background: #73d216 url('///images/icons/check.png') no-repeat 60% 50%;
            -ms-grid-column: 1;
        }

        .itemspage .itemslist .puzzle .stater {
            width: 40px;
            background-color: #f57900;
            -ms-grid-column: 1;
        }
        
        .itemspage .itemslist .puzzle .stateo {
            width: 40px;
            background-color: #edd400;
            -ms-grid-column: 1;
        }

        .itemspage .itemslist .puzzle .title {
            padding: 5px 10px;
            -ms-grid-column: 2;
        }
